.x-btn {
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;


    &:focus {
        border-radius: 10px;
        outline: none;
    }

    .x-img {
        width: 82px;
        height: 60px;
    }
}